[submodule "playbooks/roles/memcached"]
	path = playbooks/roles/memcached
	url = https://github.com/geerlingguy/ansible-role-memcached.git
[submodule "playbooks/roles/rabbitmq"]
	path = playbooks/roles/rabbitmq
	url = https://github.com/devjatkin/ansible-playbook-rabbitmq.git
[submodule "playbooks/roles/mariadb"]
	path = playbooks/roles/mariadb
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "playbooks/roles/mysql"]
	path = playbooks/roles/mysql
	url = https://github.com/geerlingguy/ansible-role-mysql.git
[submodule "playbooks/roles/collectd"]
	path = playbooks/roles/collectd
	url = https://github.com/megastallman/collectd.git
