upstream horizon{
    server "{{ hostvars[groups.horizon.0]['ansible_ssh_host'] }}";
}     



server {
		listen 8080;

		gzip on;
		gzip_proxied no-store no-cache private expired auth;

		# Loose timeouts for send and receive objects (specially large files using Swift/radosgw)
		ssl_session_cache shared:SSL:10m;
		ssl_session_timeout 10m;
		proxy_buffer_size 32k;
		proxy_buffers 64 4k;
		proxy_busy_buffers_size 32k;
		proxy_connect_timeout 10m;
		proxy_send_timeout 10m;
		proxy_read_timeout 10m;
		send_timeout 10m;

		location / {
			rewrite ^/$ /dashboard/;
		}

		# Horizon
		location /dashboard/ {
			proxy_pass http://horizon/dashboard/;
			client_max_body_size 20480m;
		}
		location /static/ {
			proxy_pass http://horizon/static/;
		}

	}

