export OS_USERNAME={{ keystone_os_username }}
export OS_PASSWORD={{ keystone_os_admin_password }}
export OS_AUTH_URL={{ keystone_os_auth_url }}
export PS1='[\u@\h \W(keystone_admin)]\$ '
export OS_TENANT_NAME={{ keystone_os_tenant_name}}
export OS_REGION_NAME={{ keystone_os_region_name}}
