export OS_USERNAME={{ keystone_os_username }}
export OS_PASSWORD={{ keystone_os_admin_password }}
export OS_AUTH_URL={{ keystone_service_adminurl }}
export PS1='[\u@\h \W(keystone_admin)]\$ '
export OS_TENANT_NAME={{ keystone_os_tenant_name}}
export OS_REGION_NAME={{ keystone_service_region }}
export OS_USER_DOMAIN_NAME=default
export OS_PROJECT_DOMAIN_NAME=default
export OS_IDENTITY_API_VERSION=3
export OS_AUTH_VERSION=3
