---
hosts:
{% for node in controllers %}
  {{ node }}:
    rabbitmq:
      count: 1
      size: 3
    mariadb:
      count: 1
      size: 3
    syslog:
      count: 1
      size: 5
    keystone:
      count: 1
      size: 3
    horizon:
      count: 1
      size: 3
    glance:
      count: 1
      size: 3
    nova_api:
      count: 1
      size: 3
    memcached:
      count: 1
      size: 3
    cinder_api:
      count: 1
      size: 3
    graphite:
      count: 1
      size: 5
{% endfor %}
