[public]
address={{ public_address }}
openstack_deshboard_url=openstack.cloudlinux.com
self_signed_cert=true
horizon_ssl_self_signed_subject=/C=UA/ST=Kiev/L=Kiev/O=IT
[os]
rabbit_port=5672
inventory_file={{ inventory_filepath }}
unique_containers_file={{ unique_containers_file }}
[os_logs]
debug=true
verbose=true
