[public]
address=192.168.33.200
priv_address=192.168.34.200
[os]
rabbit_port=5672
inventory_file={{ inventory_filepath }}
unique_containers_file={{ unique_containers_file }}
[os_logs]
debug=true
verbose=true
