global_defs {
  notification_email {
{% for notification_email in keepalived_notification_email %}
    {{ notification_email }}
{% endfor %}
  }
  notification_email_from {{ keepalived_notification_email_from }}
  smtp_server {{ keepalived_smtp_server }}
}
vrrp_instance KEEPALIVED-EXT-VIP-{{ keepalived_ext_vip }}{
	{% if inventory_hostname == keepalived_master_server %}
    state MASTER
	{% else %}
	state BACKUP
	{% endif %}
    interface {{ keepalived_ext_shared_iface }}
    virtual_router_id {{ keepalived_ext_router_id }}
    priority {{ keepalived_vrrp_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_ext_auth_pass }}
    }
    virtual_ipaddress {
        {{ keepalived_ext_vip }} dev {{ keepalived_ext_shared_iface }} label {{ keepalived_ext_shared_iface }}:0
    }
}
